<header class="content-header">
	<a class="content-header-logo" href="index.html">
		<img class="img-fluid" src="../assets/images/header/logo-empresa.png" alt="Logo Company"/>
		<p>Pizzaria</p>
	</a>
	<div class="content-header-menu d-none d-lg-flex">
		<a class="content-header-menu-links" href="index.html">
			Home
		</a>
		<a class="content-header-menu-links" href="cardapios.html">
			Cardápios
		</a>
		<a class="content-header-menu-links" href="sobre.html">
			Sobre
		</a>
		<a class="content-header-menu-links" href="contato.html">
			Contato
		</a>
	</div>
	<div class="content-header-menu-hamburguer d-lg-none">
		<span class="content-header-menu-hamburguer-item">
		</span>
		<p>Menu</p>
	</div>
</header>