<aside class="content-menu-mobile">
	<div class="content-menu-mobile-header">
		<a class="content-menu-mobile-header-logo" href="index.html">
			<img class="img-fluid" src="../assets/images/header/logo-empresa.png" alt="Logo Company"/>
		</a>
		<div class="content-header-menu-hamburguer">
			<span class="content-header-menu-hamburguer-item ">
			</span>
			<p>Menu</p>
		</div>
	</div>
	<a class="content-menu-mobile-links" href="index.html">
		Home
	</a>
	<a class="content-menu-mobile-links" href="cardapios.html">
		Cardápios
	</a>
	<a class="content-menu-mobile-links" href="sobre.html">
		Sobre
	</a>
	<a class="content-menu-mobile-links" href="contato.html">
		Contato
	</a>
</aside>